* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url("http://localhost:8080/assets/images/hello-world.gif");
  background-size: cover;
}